[variables]
PORT = "3001"
# Forzamos a Node a ignorar avisos de versiones si es necesario
NODE_OPTIONS = "--no-warnings"

[phases.setup]
# Usamos "nodejs_22" pero vamos a forzar la actualización de los repositorios
nixPkgs = ["nodejs_22", "openssl"]

[phases.install]
# Limpiamos caché antes de instalar
cmds = ["npm install --legacy-peer-deps"]

[phases.build]
cmds = ["npx prisma generate", "npm run build"]

[start]
cmd = "npm start -- -H 0.0.0.0 -p ${PORT:-3001}"